{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}

<link rel="stylesheet" href="stylesheets/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="javascripts/libs/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancyYouTube").click(function() {
			$.fancybox({
				'openEffect' : 'elastic',
				'closeEffect' : 'elastic',
				'width' : 520,
				'height' : 386,
				'href' : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
				'type' : 'swf',
				'swf' : {
					'wmode' : 'transparent',
					'allowfullscreen' : 'true'
				}
			});
			return false;
		});
	});
</script>