---
layout: default
---

<!-- Left Sidebar <-->
<section id="left-sidebar">
  
  <!-- ==================================================================
  LOGO 
  ==================================================================  <-->
  <!-- change the img src to your logo <-->
  <div class="logo">
    <a href="#about" class="link-scroll"><img src="images/other_images/logo.png" alt="Yuval Qen"></a>
    <div class="subtitle">{{site.subtitle}}</div>
    
  </div><!-- .logo <-->
  <!-- ==================== END: LOGO ==================== <-->

  <!-- Menu Icon for smaller viewports <-->
  <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

  <!-- ==================================================================
  MAIN MENU 
  ==================================================================  <-->
  <!-- Each menu item links to a section (<article class="section-wrapper...") in the main content below.
       - set each <li> id to this format: "menu-item-[the id of the .section-wrapper to link to]".
       - set href of each <a> to the id of the .section-wrapper to link to <-->
  <ul id="main-menu">
    <li id="menu-item-about" class="menu-item scroll"><a href="#about">About</a></li>
    <li id="menu-item-services" class="menu-item scroll"><a href="#services">Services</a></li>
    <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Contact</a></li>
    <!-- to include a link which doesn't scroll to a section inside the page, remove the .scroll class from the <li> - example below <-->
    <!-- <li id="menu-item-alt-page" class="menu-item"><a href="http://www.link.com">Outer Link</a></li> <-->
  </ul><!-- #main-menu <-->
  <!-- ==================== END: MAIN MENU ==================== <-->

</section><!-- #left-sidebar <-->
<!-- end: Left Sidebar <-->

<!-- ==================================================================
MAIN CONTENT
==================================================================  <-->
<section id="main-content" class="clearfix">
  
  <!-- ==================== SECTION TYPE: Intro Text ==================== <-->
  <!-- This type of section should contain heading and intro paragraph. It can also include links to other sections <-->
  <!-- FOR EACH SECTION <article class="section-wrapper".. :
       - remember to use a unique id, 
       - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section <-->
  <article id="about" class="section-wrapper clearfix" data-custom-background-img="images/other_images/bg1.jpg">
    <div class="content-wrapper clearfix">
      <div class="col-xs-12 col-sm-12 col-md-9">

          <section class="feature-text">
            <center><h1>{{ site.title }}</h1></center>
            {% capture bubble_text %}I'll make your website more money.{% endcapture %}
            {% assign bubble_direction = 'left' %}
            {% assign bubble_wow_delay = '0.3s' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}Is that all?{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% assign bubble_wow_delay = '0.5s' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}If you have a money-making website, and you want to make more money, it should hit the spot.{% endcapture %}
            {% assign bubble_direction = 'left' %}
            {% assign bubble_wow_delay = '0.7s' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}If you put it that way...{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% assign bubble_wow_delay = '0.9s' %}
            {% include custom/speech_bubble.html %}

            {% assign bubble_wow_delay = '0.3s' %}

          </section>
      </div>

      <div class="hidden-xs hidden-sm col-md-3">
        <img class="portrait" src="images/other_images/portrait.jpg">
         <center>
          <p class="trusted_by"><b>Trusted By:</b>
          <img class="client_logo" src="images/other_images/fxempire_logo.png">
          <img class="client_logo" src="images/other_images/shoppaul_logo.png">
          <img class="client_logo" src="images/other_images/craftvapery_logo.png">
          </p>
         </center>
      </div>      

<!--       <div class="col-xs-12 col-sm-12 col-md-9">
          <section class="feature-text">
            <div><center><a href="#services" id="go-to-next" class="active link-scroll">
              <i class="fa fa-angle-double-down fa-3x"></i>
            </a></center></div>
          </section>

      </div>
 <-->
    </div>
  </article>
  <!-- ==================== END: SECTION TYPE: About Text ==================== <-->

  <article id="services" class="section-wrapper clearfix" data-custom-background-img="images/other_images/bg2.jpg">
    <div class="content-wrapper clearfix">
      <div class="col-xs-12 col-sm-12 col-md-9">

        <!-- Start: Section content to edit <-->

          <center><h1 class="section-title">Services</h1></center>

          <section class="grid row clearfix clearfix-for-2cols">

            <!-- grid item -->
            <div class="grid-item col-md-6">
              <div class="item-content clearfix">
                <span class="icon fa"><img src="images/other_images/funnel_icon.png"/></span>
                <div class="text-content">
                  <h5>Data Tracking</h5>
                  <p>Sometimes Google Analytics page views just don't cut it. You need funnels, dashboards &amp; cohort analysis to reach timely actionable conclusions.</p>
                </div>
              </div><!-- end: .item-content -->
            </div><!-- end: .grid-item -->

            <!-- grid item -->
            <div class="grid-item col-md-6">
              <div class="item-content clearfix">
                <span class="icon fa"><img src="images/other_images/complement_funnel_icon.png"/></span>
                <div class="text-content">
                  <h5>CRO Toolbox</h5>
                  <p>Autoresponders? Exit intent popups? There are tons of tools out there claiming to improve conversion rates. You need an expert to tell you what would actually work in your business.</p>
                </div>
              </div><!-- end: .item-content -->
            </div><!-- end: .grid-item -->

            <!-- grid item -->
            <div class="grid-item col-md-6">
              <div class="item-content clearfix">
                <span class="icon fa"><img src="images/other_images/abtesting_icon.png"/></span>
                <div class="text-content">
                  <h5>A/B Testing</h5>
                  <p>Running a split test is easy but <a target="_blank" href="http://businessofsoftware.org/2013/06/jason-cohen-ceo-wp-engine-why-data-can-make-you-do-the-wrong-thing/">data can make you do the wrong thing</a>. I plan and operate optimization plans based on knowledge of statistics which no A/B testing tool can automate.</p>
                </div>
              </div><!-- end: .item-content -->
            </div><!-- end: .grid-item -->

            <!-- grid item -->
            <div class="grid-item col-md-6">
              <div class="item-content clearfix">
                <span class="icon fa fa-pie-chart"></span>
                <div class="text-content">
                  <h5>Data-Driven Decisions</h5>
                  <p>You probably don't have any shortage of data. What you could use more of is practical, relevant, actionable, data-driven recommendations tailored for your business and resources.</p>
                </div>
              </div><!-- end: .item-content -->
            </div><!-- end: .grid-item -->

          </section><!-- end: grid -->

          <section class="feature-text">

            {% capture bubble_text %}That's nice, but who is it for?{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}Product &amp; service owners, selling over the Internet with $20K - $400K in monthly revenues, targeting consumers or SMBs.{% endcapture %}
            {% assign bubble_direction = 'left' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}Are you done?{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}That's all I have, but words can only go so far.{% endcapture %}
            {% assign bubble_direction = 'left' %}
            {% include custom/speech_bubble.html %}

          </section>
        <!-- End: Section content to edit <--> 

      </div><!-- .col-sm-10 <-->
      <div class="hidden-xs hidden-sm col-md-3">
        <img class="tool_logo" src="images/other_images/google_analytics_logo.png">
        <img class="tool_logo" src="images/other_images/google_spreadsheet_logo.png">
        <img class="tool_logo" src="images/other_images/crazy_egg_logo.png">
        <img class="tool_logo" src="images/other_images/mixpanel_logo.png">
        <img class="tool_logo" src="images/other_images/mailchimp_logo.png">
        <img class="tool_logo" src="images/other_images/optimizely_logo.png">
        <img class="tool_logo" src="images/other_images/vwo_logo.png">
      </div>      

    </div><!-- .content-wrapper <-->
  </article><!-- .section-wrapper <-->
  <!-- ==================== END: SECTION TYPE: Services ==================== <-->

  <!-- ==================== SECTION TYPE: Contact ==================== <-->
  <!-- This type of section should contain text (contact details) and a contact form <-->
  <!-- FOR EACH SECTION <article class="section-wrapper".. :
       - remember to use a unique id, 
       - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section <-->
  <article id="contact" class="section-wrapper clearfix" data-custom-background-img="images/other_images/bg3.jpg">
    <div class="content-wrapper clearfix">
      <div class="col-xs-12 col-sm-12 col-md-9">
      
        <center><h1 class="section-title">Contact</h1></center>
        
        <section class="feature-text">
            {% capture bubble_text %}Are you implying actions need to be taken?{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% include custom/speech_bubble.html %}

            {% capture bubble_text %}Yes, contacting me definitely comes to mind.{% endcapture %}
            {% assign bubble_direction = 'left' %}
            {% include custom/speech_bubble.html %}

        </section>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="business-card">

            <!-- CONTACT DETAILS <-->
              <div class="left col-xs-12 col-sm-12 col-md-12">
                <p class="title">Yuval Qen</p>
                <p class="subtitle">Conversion Optimization Expert</p>
              </div>
            <!-- END: CONTACT DETAILS <-->

            <!-- CONTACT FORM <-->
            <div class="left col-xs-12 col-sm-7 col-md-7">
              <p class="contact_line first"><a href="mailto:hi@yuvalqen.com"><i class="fa fa-envelope"></i>&nbsp;hi@yuvalqen.com</a></p>
              <p class="contact_line"><i class="fa fa-phone"></i>&nbsp;(+972) 523 313 878</p>
              <p class="contact_line"><a href="http://yuvalqen.com"><i class="fa fa-globe"></i>&nbsp;www.yuvalqen.com</a></p>
              <p class="contact_line"><a href="https://www.linkedin.com/e/fpf/30388203"><i class="fa fa-linkedin"></i>&nbsp;Yuval Qen</a></p>

            </div>
            <div class="left col-xs-12 col-sm-5 col-md-5">
              <img class="logo" src="images/other_images/logo_black.png" alt="Yuval Qen">
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9">
        
        <section class="feature-text">
            {% capture bubble_text %}Website, inside a business card, inside a website? Clever.{% endcapture %}
            {% assign bubble_direction = 'right' %}
            {% assign bubble_wow_delay = '10s' %}
            {% include custom/speech_bubble.html %}
        </section>
      </div>

    </div><!-- .content-wrapper <-->
  </article><!-- .section-wrapper <-->
  <!-- ==================== ENDL SECTION TYPE: Contact ==================== <-->

</section><!-- #main-content <-->
<!-- ==================== END: MAIN CONTENT ==================== <-->
