---
layout: default
---

<div id="front-wrapper">
  <div id="hero">
    <div id="hero-inner" class="container">
      {% include custom/intro.html %}
    </div>
  </div>
  <section id="sub-hero">
    <div class="container">
      {% include custom/widgets.html %}
    </div>
  </section>
  <div class="container">
    <div class="row" id="post-container">
      <article class="span4">
        <div class="article-format">
          <h1 class="entry-title"><a href="{{ root_url }}/blog/categories/growing-growth-hacker">Journey of a growing growth hacker</a></h1>
          <div id="blog-archives" class="category">
            {% for post in site.categories['Growing Growth Hacker'] %}
            <article class="archive-article-format">
              {% include archive_post.html %}
            </article>
            {% endfor %}
          </div>
        </div>
      </article>
      <article class="span4">
        <div class="article-format">
          <h1 class="entry-title"><a href="{{ root_url }}/categories/case-studies">Case Studies</a></h1>
          <div id="blog-archives" class="category">
            {% for post in site.categories['Case Studies'] %}
            <article class="archive-article-format">
              {% include archive_post.html %}
            </article>
            {% endfor %}
          </div>
        </div>
      </article>
      <article class="span4">
        <div class="article-format">
          <h1 class="entry-title">About me</h1>
          <div>I am Yuval Qen... I do such and such... and some more brief about me</div>
        </div>
      </article>
    </div>
      <div class="row">
        <ul class="pager">
          {% if paginator.next_page %}
            <li class="previous">
              <a href="{{paginator.next_page}}">&larr; Older</a>
            </li>
          {% endif %}
          {% if paginator.previous_page %}
            <li class="next">
              <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
            </li>
          {% endif %}
        </ul>
      </div>
  </div>
</div>

