---
layout: default
---
{% capture tagline %}
<div class="row">
<h2>What I do, how I do it and how fulfilling is it. (<a href="/personal">See my fun side</a>)</h2>
</div>
{% endcapture %}

{% capture square1 %}
          <h1 class="entry-title"><a href="{{ root_url }}/blog/categories/growing-growth-hacker">Journey of a growing growth hacker</a></h1>
          <div id="blog-archives" class="category">
            {% for post in site.categories['Growing Growth Hacker'] limit: 2 %}
            <article class="archive-article-format">
              {% include archive_post.html %}
            </article>
            {% endfor %}
          </div>
{% endcapture %}

{% capture square2 %}
          <h1 class="entry-title"><a href="{{ root_url }}/blog/categories/case-studies">Case Studies</a></h1>
          <div id="blog-archives" class="category">
            {% for post in site.categories['Case Studies'] limit: 2 %}
            <article class="archive-article-format">
              {% include archive_post.html %}
            </article>
            {% endfor %}
          </div>
{% endcapture %}

{% capture square3 %}
          <h1 class="entry-title"><a href="{{ root_url }}/about/">About me</a></h1>
          <div>I am Yuval Qen... I do such and such... and some more brief about me</div>
{% endcapture %}

{% include custom/index_template.html %}