---
layout: default
---

{% capture square1 %}
          <h1 class="entry-title"><a href="{{ root_url }}/blog/categories/growing-growth-hacker">Mountain Unicycling</a></h1>
          <div>
            <div id="video_player">
              <a href="http://www.youtube.com/watch?v=JzmhkldrrMw" rel="prettyPhoto" title="My YouTube Video">
                <img src="http://img.youtube.com/vi/JzmhkldrrMw/default.jpg" alt="YouTube" width="50">
              </a>
            </div>
          </div>
{% endcapture %}

{% capture square2 %}
          <h1 class="entry-title"><a href="{{ root_url }}/blog/categories/case-studies">Case Studies</a></h1>
          <div id="blog-archives" class="category">
            {% for post in site.categories['Case Studies'] limit: 2 %}
            <article class="archive-article-format">
              {% include archive_post.html %}
            </article>
            {% endfor %}
          </div>
{% endcapture %}

{% capture square3 %}
          <h1 class="entry-title"><a href="{{ root_url }}/about/">About me</a></h1>
          <div>I am Yuval Qen... I do such and such... and some more brief about me</div>
{% endcapture %}

{% include custom/index_template.html %}